<!DOCTYPE html>
<html>
    <head>
        <title>${title}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <!-- favicon -->
        <!-- styles -->
    </head>

    <body>
        <div class="spacer"></div>
        <!-- profile -->
        <div id="name"><%= link_to "Dylan Thinnes", "/", class: "reset" %></div>
        <div id="social">
            <!-- tabs -->
        </div>
        <div id="blurb">
            I am a student of Comp Sci at the University of
            Edinburgh.<br/>In my spare time, I enjoy camping, Aikido, and
            coding.  
        </div>
        <div id="content">
            <div class="section selected" data-url="<%= request.path %>">
                <title><!-- section_title --></title>
                <!-- section_content -->
            </div>
            <div class="section" id="loading">
                <div class="text">Loading...</div>
            </div>
        </div>
        <div class="spacer"></div>
        <!-- javascript -->
    </body>
</html>
